body{
  background-color: Black;
}

h1{
  color: #ffffff;
  font-family: "Times New Roman";
  font-size: 120px;
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;     
  margin: 0;
}
